.scrolling-banner {
  background-image: url(/images/bubbles7.png);
  background-blend-mode: overlay;
  color: white;
  padding: 40px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-top: 10px solid white;
}

.banner-content {
  display: inline-block;
  animation: scroll-left 90s linear infinite;
}

.banner-text {
  font-family: "Permanent Marker";
  font-size: 6vh;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.banner-logo {
  height: 10vh;
  width: auto;
  margin: 0 10px;
  vertical-align: middle;
  padding: 0 50px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.banner-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.banner-link:hover {
  color: #ffd700;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .banner-content {
    animation: scroll-left 15s linear infinite;
  }

  .scrolling-banner {
    padding: 30px 0;
  }
}

@media (max-width: 480px) {
  .scrolling-banner {
    padding: 24px 0;
  }

  .banner-logo {
    margin: 0 5px;
  }
}
