.reviews-container {
  width: 100%;
  margin: 0;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 10px solid white;
  background-color: var(--background-color);
}

.review {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin: 0 auto 20px auto;
  width: 95%;
  max-width: 1200px;
}

.reviews-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Permanent Marker";
  text-shadow: 1px 1px 1px rgb(63, 63, 63);
  font-size: 45px;
}

.reviews-container p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 18px;
}

.review strong {
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

.review p {
  margin: 10px 0;
}

.review p:nth-child(2) {
  color: #f39c12;
  font-weight: bold;
}

.review p:last-child {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}

.load-more-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #87ced7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #6fccd8;
}
