.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 50px 0 80px 0;
  text-shadow: var(--text-dropshadow);
  background-color: var(--background-color);
}

.map-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.map-link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.map-link a:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.google-map-embed {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.google-map-embed iframe {
  width: 100%;
  height: 450px;
  border: none;
}

@media (max-width: 768px) {
  .google-map-embed {
    width: 95%;
  }
  
  .google-map-embed iframe {
    height: 300px;
  }
}
