body {
    margin: 0;
    width: 100vw;
    background-color: #45698c;
    overflow-x: hidden
}

.main {
    overflow-x: hidden;
    margin: 0 0 40px 0;
    overflow: hidden;
    padding: 100px 30px 0 30px;
}

.faq-h1 {
    text-align: center;
}

.faq-h1, .faq-h2, .faq-h3, .faq-h4, .faq-p {
    text-shadow: var(--text-dropshadow);
}

.faq-a {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}