.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it appears above other content */
  transition: opacity 0.5s ease; /* Add transition for opacity */
}

.popup-content {
  background-image: url(/public/bubbles7.png);
  padding: 20px;
  border-radius: 12px;
  border: 10px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease; /* Add transition for transform */
}

.popup-overlay.closing {
  opacity: 0; /* Fade out */
}

.popup-content.closing {
  transform: scale(0.9); /* Scale down */
}

.popup-content-layer {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (max-width: 768px) {
  .popup-content {
    max-width: 90%;
    height: 300px;
  }

  .popup-content-layer {
    height: 250px;
  }
}

.popup-content h1 {
  color: #444;
  --text-dropshadow: 1px 1px 1px rgb(0, 0, 0);
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
  font-size: 23px;
  margin: 10px;
}

.popup-content p {
  font-size: 15px;
  color: #444;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
  margin: 10px;
}

.popup-content a {
  font-size: 22px;
  color: #444;
  margin: 10px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.popup-content button:hover {
  background-color: #333;
}

.news-link {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
}

.news-link:hover {
  text-decoration: underline;
}
