:root {
    background-image: url(/public/bubbles7.png);
    color: white;
    font-family: Avenir Next, Futura;
    --text-dropshadow: 1px 1px 1px grey;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

section {
    background-image: url(/public/bubbles7.png);
}