/* #9fccd2 */

/* Header styles */
header {
  height: 120px;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: var(--background-color);
}

.home-button {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 150;
  margin: 0 0 0 0.5rem;
}

.home-button img {
  height: 120px;
  width: auto;
  display: flex;
  align-items: center;
}

.nav-bar {
  position: flex;
  font-family: "Permanent Marker";
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-bar ul li {
  margin-right: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.nav-bar ul li a {
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  display: flexbox;
  justify-content: space-between;
  transition: text-decoration 0.3s ease;
}

#services {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  display: flexbox;
  justify-content: space-between;
  transition: text-decoration 0.3s ease;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
  transition: text-decoration 0.6s ease-in-out;
}

.nav-bar ul li:nth-child(2):hover a {
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown-content a:hover,
.nav-bar ul li:hover .dropdown-content a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translateY(0);
  text-align: left;
  border-radius: 15px;
  border: 5px solid white;
}

.nav-bar ul li:hover .dropdown-content {
  display: block;
  padding: 10px 5px 10px 5px;
  min-width: 320px;
  background-image: url(/public/bubbles7.png);
  background-color: var(--background-color);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1 {
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 130;
  background-image: url(/public/bubbles7.png);
}

.hamburger1 {
  height: 45px;
  margin: 30px 20px 10px 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
  padding: 0;
}

.hamburger1 div {
  background-color: white;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 11px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 100vh;
}

.menu1 {
  background-image: url(/public/bubbles7.png);
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 2px;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: var(--text-dropshadow);
  margin-top: 45px;
  border-top: 10px solid white;
}

.link2 {
  width: auto;
  height: 100%;
}

.menu1 a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 30px;
}

@media screen and (min-width: 769px) {
  .p-menu1 {
    display: none;
  }
}
