body {
    margin: 0;
    width: 100vw;
    background-color: #9fccd2;
    overflow-x: hidden
}

/* divider */
.dividerwhite {
    display: flex;
    width: 80%;
    height: 3px;
    margin: 20px auto;
    background-color: white;
    opacity: 50%;
    border-radius: 5px;
}

.dividerf5f4f0 {
    display: flex;
    width: 70%;
    height: 3px;
    margin: 20px auto;
    background-color: #f5f4f0;
    border-radius: 5px;
}

.spacedividersmall {
    height: 50px;
}

.spacedivider {
    height: 400px;
}

/* footer2 */

.footer2 {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: white;
    font-family: Avenir Next, Futura;
    font-weight: bold;
    color: #9fccd2;
    height: 200px;
    padding: 100px 0;
    gap: 30px;
    text-shadow: 1px 1px 1px antiquewhite;

}

@media (max-width: 768px) {
    .footer2 {
        flex-direction: column;
        gap: 50px;
        padding: 250px 15%;
    }
}

.footer2-h1 {
    font-size: 25px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.footer2-hours, .footer2-visit, .footer2-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

/* homepage */

.homepage-title {
    font-family: 'Permanent Marker';
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
    margin: 0 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.homepage-subtitle {
    text-shadow: 1px 1px 1px black;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.homepage-h1-title {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.homepage-p {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 500;
}

/* aboutpic */

.aboutpic-section {
    margin-top: 120px;
    height: 500px;
    background-image: url('/public/laundry3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutpic-h2 {
    font-family: 'Permanent Marker';
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aboutpic-h1 {
    text-shadow: 1px 1px 1px black;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aboutpic-buttons {
    display: flex;
    gap: 30px;
}

.aboutpic-button1, .aboutpic-button2 {
    background-color: #9fccd2;
    border: none;
    color: white; 
    width: 180px;
    padding: 15px 32px; 
    text-shadow: var(--text-dropshadow);
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition-duration: 0.15s; 
}

.aboutpic-button1:hover, .aboutpic-button2:hover{
    background-color: #6fccd8;
}

/* about-info */

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info-h1 {
    display: flex;
    justify-content:center;
    margin: 0 5px;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
    padding: 0 0 20px 0;
}

.about-info-p {
    display: flex;
    justify-content:center;
    text-align: center;
    margin: 0;
    width: 300px;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 500;
}

.about-info-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.about-info-h1-title {
    display: flex;
    justify-content:center;
    margin: 0 5px;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
    padding-top: 40px;
}

.about-info-about {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-top: 30px;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 500;
}

/* business hours */

.business-hours-h1 {
    display: flex;
    justify-content:center;
    margin: 0;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
}

.business-hours-p {
    display: flex;
    justify-content:center;
    margin: 0;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 300;
}

/* service sections */

.service-section-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {
    .service-section-styles {
        flex-direction: row;
        gap: 20px;
    }
}

.about-info-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}

.about-info-sections a {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}

/* speedqueen */

.about-speedqueen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 20%;
}

@media (max-width: 768px) {
    .about-speedqueen {
        flex-direction: column;
        gap: 20px;
    }
}

.about-speedqueen-img {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    flex: 1;
}

.about-speedqueen-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

/* coinmachine */

.coinmachine-section {
    margin-top: 120px;
    height: 500px;
    background-image: url('/public/laundry3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coinmachine-h1-title {
    display: flex;
    justify-content:center;
    margin: 0 5px;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
    padding-top: 40px;
}

.coinmachine-p {
    display: flex;
    justify-content:center;
    margin: 0 15%;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 500;
}

/* washfold */

.washfold-section {
    margin-top: 120px;
    height: 500px;
    background-image: url('/public/laundry3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.washfold-h1-title {
    display: flex;
    justify-content:center;
    margin: 0 5px;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
    padding-top: 40px;
}

.washfold-p {
    display: flex;
    justify-content:center;
    margin: 0 15%;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 500;
}

/* dryclean */

.dryclean-section {
    margin-top: 120px;
    height: 500px;
    background-image: url('/public/laundry3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dryclean-h1-title {
    display: flex;
    justify-content:center;
    margin: 0 5px;
    text-shadow: var(--text-dropshadow);
    font-size: 25px;
    font-weight: 500;
    padding-top: 40px;
}

.dryclean-p {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    text-shadow: var(--text-dropshadow);
    font-size: 15px;
    font-weight: 500;
}

.speedqueen-block {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .speedqueen-block {
        display: flex;
        flex-direction: column; 
    }
}

.speedqueen-block-2 {
    display: flex;
    gap: 30px;
}

.speedqueen-img {
    display: flex;
    justify-content: center;
}

.speedqueen-img img {
    width: 200px;
    max-width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
}

.speenqueen-app-links {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.speedqueen-app-img img{
    width: 150px;
    height: auto;
}

.speedqueen-p {
    font-family: 'Permanent Marker';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20%;
    font-size: 35px;
    font-weight: 500;
    color: #9fccd2;
    text-shadow: 2px 2px 2px grey;
    height: auto;
}

.speedqueen-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 10%;
    font-size: 20px;
    font-weight: 500;
    background-color: #9fccd2;
    color: white;
    text-shadow: 2px 2px 2px grey;
    height: auto;
}